body{
	background-color: #37474F;
	overflow-x: hidden;
	overflow-y: hidden;	
}
.back{
	width:80%;
	height:35%;	
	margin-left:10%;
	background-color:#455A64;
}
.banner{
	width:100%;
	height:10%;	
	text-align:center;
	color:white;
	font-size:40px;
	font-family:Arial;
	margin-top:20%;
}
.button-d{
	margin-top:15%;
	text-align: center;
}
#draw{
	font-size:21px;
	background-color:#0097A7;	
}
#guess{
	font-size:21px;
	/*background-color:#0097A7;	*/
}