body{
	background-color: #303030;
	overflow-x: hidden;
	overflow-y: hidden;	
	text-align:center;	
	color:#424242;
}
.container{
	width:100%;
	padding:0px;
	height:100%;	
}
.header{
	padding-top:4%;
	width:100%;	
	height:6%;	
	font-size:27px;
	color:white;
	background-color:#424242;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);	
}	
.data-container{
	text-align: center;	
	width:100%;
	padding:0px;
	height:80%;
	margin-top:5%;
	font-size:20px;
	display: grid;	
	grid-template-columns: 50% 50%;	
}
.belowbar{
	width:100%;	
	margin-top:5%;
	height:5%;
	border-top: 1px solid #e0e0e0;
	display: grid;
	grid-template-columns: 20% 60% 20%;	
}
.bar{
	width:100%;
	height:100%;
	padding:0px;	
}
.day{
	font-size: 17px;
	color:white;
}
.days-bar{	
	padding:0;
	height:40%;
	padding-top:5%;	
	border-radius:10px;
	color:white;	
	margin-top:2%;	
	box-shadow: 0 4px 20px rgba(0,0,0,.5);
}
.time-left{
	/*width:80%;
	height:20%;	
	*/
	padding-top:44px;
	width:110px;
	height:66px;		
	border-radius:50%;
	background-color:transparent;
	border:5px solid #00BFA5;
	color:white;
	font-size:25px;
	margin-left:35%;
	box-shadow: 0 0px 50px rgba(0,0,0,.5);
}
.time-done{
	font-size:19px;
	color:#9e9e9e;	
	width:100%;
}
.time-data{
	font-size:17px;
	color:#9e9e9e;
}
.button{
	width:80%;
	height:20%;
	margin-left: 10%;
	font-size:17px;	
}
.time-to-complete{
	width:80%;
	height:20%;
	margin-left: 10%;	
}	
.buttonNew{
	margin-top:50%;
	outline:none;
	padding:15px;	
	border:none;
	color:white;
	
	box-shadow: 1px 1px 1px 1px #bdbdbd;	
}
.buttonNew:active{	
	box-shadow: 0px 0px 1px 1px #bdbdbd;	
}
.ResetButton{	
	outline:none;
	padding:10px;	
	border:none;
	color:#424242;	
	font-size: 17px;
	background-color: transparent;	
}
.ResetButton:active{
	font-size: 16px;
}
.buttonClassy{
	padding:0px;
	width:70px;
	height:70px;		
	box-shadow: 0 2px 60px rgba(0,0,0,.5);
}
.buttonClassy:hover{
	box-shadow: 0 6px 6px rgba(0,0,0,.5);	
}
.round-day{
	margin-top:-10%;
	width:35px;
	padding-top:7px;
	height:28px;
	background-color:#009688;	
	color:white;	
	border-radius:50%;
}