body{
	background-color: #f5f5f5;
	overflow-x: hidden;
/*	overflow-y: hidden;	*/
	text-align:center;
}
.container{
	width:100%;
	padding:0px;
	height:100%;
	background-color:red;
}
.header{
	width:100%;
	padding:0px;	
	height:10%;
	background-color:green;
}
.data-container{
	text-align: center;	
	width:100%;
	padding:0px;
	height:90%;
	font-size:20px;
	display: grid;
	grid-template-columns: 30% 70%;
	background-color:yellow;	
}
.bar{
	width:100%;
	height:100%;
	padding:0px;
}
.day{
	height:20%;
	width:100%;
	padding:0px;		
	background-color:blue;
}
.time-left{
	width:80%;
	margin-left:10%;
	height:10%;
	background-color: cyan;
}
.time-done{
	width:80%;
	margin-left:10%;
	height:10%;
	background-color: cyan;
}
.button{
	width:80%;
	height:20%;
	margin-left: 10%;
}
.time-to-complete{
	width:80%;
	height:30%;
	margin-left: 10%;
}	
#current-day{
	font-size:25px;
}