body{
	font-family: Roboto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.board{	
	width:80%;	
	background-color: transparent;
	margin-left:1%;
	height:60%;
	margin-top:1%;	
}
.canvas{
	width:100%;
	background-color:#f5f5f5;	
	height:100%;	
	box-shadow: 0px 0px 2px 1px #757575;
	border-radius: 5px;	
}
.tools{
	width:15%;
	margin-left:2%;
	margin-top:1%;
}